body {
    background-color: #E5E5E5;
    ;
}

.amazon {
    margin-top: 10rem;
    margin-left: 25rem;
    margin-right: 30rem;
    background-color: white;
    display: flex;
    border-radius: 20px;
}

.image {
    width: 200.5px;
    height: 370.98px;
    left: 157.5px;
    top: 79.51px;
}

.words {
    margin-left: 3rem;
    margin-top: 1.5rem;
}

.p1 {
    margin-top: 1rem;
}

.p2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.color {
    margin-bottom: 2rem;
}

h1 {
    font-size: xx-large;
}

.mark {
    position: absolute;
    left: 41.3rem;
    height: 1rem;
    width: 1rem;
    margin-top: 0.6rem;
}

.gray {
    padding-left: 2rem;
}

.walnut {
    padding-left: 2rem;
}

button {
    height: 3rem;
    width: 6rem;
}